header {
  background-color: #337cff;
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;

}

img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

footer {
  background-color: #337cff;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

h1 {
  color: yellow;
}

.last {
  border: 2px blue solid;
  display: flex;
  width: 50vw;
  margin: 10px;


}
